In [24]:
from tslearn.preprocessing import TimeSeriesScalerMinMax
from tslearn.svm import TimeSeriesSVC
from tslearn.metrics import cdist_dtw
from tslearn.preprocessing import TimeSeriesScalerMinMax
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

In [25]:
data_path = '..\data\processed\\cluster_2017_2018[DataMining].csv'
df_data = pd.read_csv(data_path)
df_data['ts'] = pd.to_datetime(df_data['ts'])
df_data = df_data.set_index('ts')
df_data.sample(5)

,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,09:00:00,...,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00,cluster
ts,,,,,,,,,,,,,,,,,,,,,
2017-07-16,17.139179,29.544708,18.968230,16.471106,16.697120,16.610776,14.350608,14.892638,18.517521,21.004439,...,23.134461,23.916863,22.970222,21.668813,21.060004,19.516966,18.515331,17.461037,16.808503,0
2017-07-07,17.414408,29.405857,17.998105,14.945857,14.932501,15.148224,14.057947,14.804839,16.208226,18.168822,...,21.400168,21.820297,20.091188,18.316610,17.345051,16.388210,15.990443,15.895767,16.074240,0
2017-01-15,28.639613,30.705794,27.967549,27.355673,26.572749,26.325705,28.685749,31.567574,33.370448,34.665648,...,36.538480,37.033709,35.006583,33.729511,32.268032,30.591598,30.165544,29.478401,28.343463,2
2017-02-01,29.231893,29.170697,29.102708,28.981157,28.680215,28.408843,28.406606,28.404369,28.402132,28.399894,...,28.386465,28.384226,28.381986,28.379747,28.377507,28.375268,28.373028,28.370788,28.368547,1
2018-01-26,26.255929,25.112612,25.433285,25.688353,25.404697,25.230456,26.014486,27.561767,28.420263,30.082443,...,34.015933,34.624571,33.615528,31.009186,29.501625,28.414850,28.394729,27.880825,27.415112,2

In [44]:
X = df_data.iloc[:,:-1].values
y = df_data.iloc[:,-1].values

In [42]:
X_train = df_data.iloc[:365,:-1].values
y_train = df_data.iloc[:365,-1].values
X_test = df_data.iloc[365:,:-1].values
y_test = df_data.iloc[365:,-1].values

In [45]:
np.random.seed(0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train = TimeSeriesScalerMinMax().fit_transform(X_train)
X_test = TimeSeriesScalerMinMax().fit_transform(X_test)

clf = TimeSeriesSVC(kernel="gak", gamma=.1,verbose=True)
clf.fit(X_train, y_train)
print("Correct classification rate:", clf.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 119805 out of 119805 | elapsed:   12.6s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[LibSVM]Correct classification rate: 0.7095435684647303

[Parallel(n_jobs=1)]: Done 117849 out of 117849 | elapsed:   12.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 241 out of 241 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 489 out of 489 | elapsed:    0.0s finished